#headerContain {
  width: 100%;
  height: 6%;
  background: green;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  #logContain {
    width: 20%;
  }
  #linkContain {
    width: 20%;
    ul {
      list-style: none;
      li {
        display: inline-block;
      }
    }
  }
}
