#storyCase {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  #storyHead {
    width: 100%;
    height: 35%;
    background: white;
  }
  #storyTail {
    width: 100%;
    height: 60%;
    background: purple;
  }
}
